:host {
  display: flex;
  align-items: center;
}

.icon {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  flex-shrink: 0;
  @media screen and (max-width: 321px) {
    width: 25px;
    height: 25px;
    
  }
}
